/** @format */

.lists-section {
  padding: 0rem 1.5rem 1rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
.lists-item {
  color: black;
  font-family: var(--Yanone);
  font-weight: 400;
  font-size: 1.3em;
  line-height: 1.2em;
  letter-spacing: 1px;

  background-color: var(--cardBg);
  padding: 0.7em 0.5em 0.5em 0.5em;
  filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.2));
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.lists-section .lists-item:hover {
  background-color: hsl(120, 17%, 49%);
  color: white;
}
.view-more-section {
  display: flex;
  margin-top: 0.7em;
  justify-content: flex-end;
}
.view-more-section .btn {
  background-color: var(--secondaryColor);
}
.view-more-section .btn:hover {
  /* background-color: white;
  color: var(--primaryColor);
  filter: drop-shadow(0px 1px 12px rgba(0, 0, 0, 0.2)); */
  background-color: var(--primaryColor);
}
.noLists-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  font-family: var(--ubuntu);
  font-size: 1.8rem;
  color: var(--gray3);
  font-weight: 500;
}

.list-with-actions-containner {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr;
  gap: 0.7em;
}
.list-containner {
  display: grid;
  grid-template-columns: 11fr;
}
.list-action {
  background-color: var(--cardBg);
  border: 1px solid var(--borderPrimaryColor) !important;
  padding: 0.5em 0.6em;
  outline: none;
  font-size: 1em;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.list-action:hover {
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.3));
}
.list-input {
  border: none;
  padding: 0.7em 0.5em 0.5em 0.5em;
  border-radius: 0.5rem;
  font-family: var(--Yanone);
  font-weight: 500;
  line-height: 1.2em;
  font-size: 1.3em;
  outline: none;
  background-color: var(--cardBg);
  color: var(--gray3);
  filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.2));
  border: 1px solid var(--borderPrimaryColor);
}
.list-input:focus {
  color: var(--gray3);
}
.list-edit-input-group {
  display: none;
}
.update-list-input-error {
  color: var(--danger);
  font-size: 0.8rem;
  font-weight: 500;
}
.update-list-input-error > b {
  cursor: pointer;
  text-decoration: underline;
}
.no-lists {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  font-size: 2.3rem;
  font-family: var(--ubuntu);
  font-weight: 400;
  font-style: italic;
  color: var(--gray2);
}
