.list-box {
  position: relative;
  margin-bottom: 3em;
  background-color: var(--cardBg);
  filter: drop-shadow(0px 1px 12px rgba(0, 0, 0, 0.07));
}
.list-title {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  top: -2rem;
}
.list-title h2 {
  max-width: fit-content;
  background: var(--cardBg);
  border: 1px solid var(--borderPrimaryColor);
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.list-section {
  padding: 0rem 1.5rem 1rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.4em;
}
.list-section .list-todo {
  /* border: 1px solid var(--primaryColor); */
  background-color: var(--notWhite);
  filter: drop-shadow(0px 0px 2px rgba(29, 53, 87, 0.2));
}

.new-todo-section {
  position: relative;
  padding: 0rem 1.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
}
.new-todo-section > span {
  font-size: 0.9rem;
  cursor: pointer;
}

.new-todo {
  display: grid;
  grid-template-columns: 10fr 2fr;
}
.new-todo-input {
  border: none;
  padding: 0.7em 1em 0.7em 0.7em;
  width: 100%;
  overflow: hidden;
  resize: none;
  border-radius: 0.5rem;
  font-family: var(--ubuntu);
  font-size: 1rem;
  outline: none;
  height: 42.5px;
  background-color: var(--cardBg);
  display: inline-block;
  color: rgba(44, 43, 43, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.new-todo-input:focus {
  color: black;
  background-color: white;
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.2));
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.add-todo-btn {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  outline: none;
  border: 1px solid var(--borderPrimaryColor);
}
.add-todo-btn > i::before {
  font-family: "Font Awesome 5 Free";
  content: "\f055";
  font-size: 1.7rem;
  color: var(--success);
}
.add-todo-btn:hover {
  filter: drop-shadow(3px 6px 2px rgba(0, 0, 0, 0.2));
}
.loading {
  filter: blur(2px) grayscale(30);
  pointer-events: none;
}

.new-todo-loading {
  position: absolute;
  z-index: 10;
  text-align: center;
  font-size: 2rem;
  color: var(--success);
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: progress;
}
.no-todos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  font-size: 2.3rem;
  font-family: var(--ubuntu);
  font-weight: 400;
  font-style: italic;
  color: var(--gray2);
}
