@import url("Variables.css");
.todos-section {
  padding: 0rem 1.5rem 1rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.3em;
}

.todos-item {
  display: flex;
  flex-direction: column;
}

.todo-input {
  border: none;
  padding: 0.7em 1em 0.7em 0.7em;
  width: 100%;
  overflow: hidden;
  resize: none;
  border-radius: 0.5rem;
  font-family: var(--ubuntu);
  font-size: 01rem;
  outline: none;
  background-color: var(--cardBg);
  display: block;
  height: fit-content;
  color: rgba(44, 43, 43, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.todo-input:focus {
  color: black;
  background-color: white;
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.2));
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.todos-item {
  display: flex;
  flex-direction: column;
}
.todos-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}
.todos-section .todo-item {
  display: flex;
  padding: 0;
}
.todo-date {
  font-size: 0.7em;
}
.list-box {
  position: relative;
  margin-bottom: 3em;
}
.todo-containner {
  display: grid;
  grid-template-columns: 10fr 2fr;
}
.todo-containner .todo-content {
  margin-top: auto;
  margin-bottom: auto;
}
.todo-actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  gap: 1em;
  margin-left: 1em;
}
.no-todos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  font-size: 2.3rem;
  font-family: var(--ubuntu);
  font-weight: 400;
  font-style: italic;
  color: var(--gray2);
}
.todo-actions .btn {
  margin: auto auto;
  padding: 0.5em;
  background-color: var(--cardBg);
  outline: none;
  font-size: 1em;
  border: 1px solid var(--borderPrimaryColor);
}
.todo-actions .btn:hover {
  filter: drop-shadow(3px 6px 2px rgba(0, 0, 0, 0.2));
}
.todo-done > i::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  color: var(--success);
}
.todo-delete > i::before {
  font-family: "Font Awesome 5 Free";
  content: "\f1f8";
  color: var(--danger);
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .todo-input {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .todo-actions {
    gap: 0.1em;
  }
}
