/** @format */

@import url("Variables.css");
/* ------------TEXT COLORS CLESSES------------ */
.text_gray_1 {
  color: var(--gray1);
}
.text_gray_2 {
  color: var(--gray2);
}
.text_gray_3 {
  color: var(--gray3);
}
.text_gray_4 {
  color: var(--gray4);
}
.text_gray_4 {
  color: var(--gray4);
}
.text_gray_6 {
  color: var(--gray6);
}
.text_gray_7 {
  color: var(--gray7);
}
.color_secondary {
  color: var(--secondaryColor) !important;
}
.color_primary {
  color: #a3b18a !important;
}
.color_heading_1 {
  color: var(--heading1Color) !important;
}
.color_heading_2 {
  color: var(--heading2Color) !important;
}
.color_danger {
  color: var(--danger) !important;
}
.color_success {
  color: var(--success) !important;
}
/* ---_---------TEXT ALIGN-------------- */
.text_center {
  text-align: center;
}
.text_end {
  text-align: end;
}
.text_start {
  text-align: start;
}
.text_italic {
  font-style: italic;
}
.text_uppercase {
  text-transform: uppercase;
}

/* ---------------MARGINS--------------- */
.mb-xs {
  margin-bottom: 0.3rem;
}
.mb-sm {
  margin-bottom: 0.5rem;
}
.mb-md {
  margin-bottom: 1rem;
}
.mb-lg {
  margin-bottom: 2rem;
}
.mb-xl {
  margin-bottom: 3rem;
}
/* -----------------0 */
.mt-xs {
  margin-top: 0.3rem;
}
.mt-sm {
  margin-top: 0.5rem;
}
.mt-md {
  margin-top: 1rem;
}
.mt-lg {
  margin-top: 2rem;
}
.mt-xl {
  margin-top: 3rem;
}
/* MX */
.mx-xs {
  margin-right: 0.3em;
  margin-left: 0.3em;
}
.mx-sm {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.mx-md {
  margin-right: 1em;
  margin-left: 1em;
}
.mx-lg {
  margin-right: 2em;
  margin-left: 2em;
}
/* MY */
.my-xs {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.my-sm {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.my-md {
  margin-top: 1em;
  margin-bottom: 1em;
}
.my-lg {
  margin-top: 2em;
  margin-bottom: 2em;
}
/* ---------------PADDINGS--------------- */
/* PX */
.px-xs {
  padding-right: 0.3em !important;
  padding-left: 0.3em !important;
}
.px-sm {
  padding-right: 0.5em !important;
  padding-left: 0.5em !important;
}
.px-md {
  padding-right: 1em !important;
  padding-left: 1em !important;
}
.px-lg {
  padding-right: 2em !important;
  padding-left: 2em !important;
}
.px-xl {
  padding-right: 3em !important;
  padding-left: 3em !important;
}
/* PY */
.py-xl {
  padding-top: 3em !important;
  padding-bottom: 3em !important;
}
.py-xs {
  padding-top: 0.3em !important;
  padding-bottom: 0.3em !important;
}
.py-sm {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}
.py-md {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.py-lg {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}
.py-xl {
  padding-top: 3em !important;
  padding-bottom: 3em !important;
}
/* --------------BORDER RADIUS--------------  */
.radius-xs {
  border-radius: 0.3rem;
}
.radius-sm {
  border-radius: 0.5rem;
}
.radius-md {
  border-radius: 1rem;
}
.radius-lg {
  border-radius: 2rem;
}
.radius-xl {
  border-radius: 10rem;
}

/* --------------*------BUTTONS--------------*------ */
.btn {
  border: none;
  color: white;
  cursor: pointer;
  font-family: var(--ubuntu);
}
.btn-primary {
  background-color: var(--primaryColor);
}
.btn-disabled {
  cursor: not-allowed !important;
  filter: grayscale(0.7);
}
/* ----------------------FLEX---------------------- */
.flex {
  display: flex;
}
.flex-c {
  flex-direction: column;
}
.justify-space-between {
  justify-content: space-between !important;
}
.flex-center {
  justify-content: center !important;
}
