/**
 * /* ----------------FONTS----------------
 *
 * @format
 */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");
/* -------------FONTAWSOME------------- */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

:root {
  --primaryColor: #8c67af;
  --secondaryColor: #6b72b3;
  --notWhite: #eef6fa;
  --red: #e63946;
  --cardBg: #f4f9f4;
  --silver: #c0c0c0;
  --black: #000;
  --danger: #e63946;
  --success: #2a9d8f;
  --input: #f5f3f4;
  --link: #ff9c87;
  --heading1Color: #52796f;
  --heading2Color: #354f52;
  /* --------------FONTS-------------- */
  --poppins: "Poppins";
  --Yanone: "Yanone Kaffeesatz";
  --ubuntu: "Ubuntu";
  /* ------------GRAY COLOR------------ */
  --gray1: #e5e7eb;
  --gray2: #9ca3af;
  --gray3: #6b7280;
  --gray4: #4b5563;
  --gray5: #374151;
  --gray6: #1f2937;
  --gray7: #111827;
  /* BORDERS */
  --borderPrimaryColor: rgba(29, 53, 87, 0.1);
}
