@import url("Variables.css");
.loginForm {
  border: 1px solid var(--borderPrimaryColor);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.loginForm button:focus {
  outline: none;
}
.loginForm button:hover {
  background-color: var(--silver);
}
.loginForm h1 {
  font-family: var(--ubuntu);
  font-size: 2.5em;
}
.loginInput {
  border: none;
  padding: 1em 1em;
  background-color: var(--cardBg);
  border-radius: 10px;
  font-family: var(--poppins);
}
.loginInput:focus {
  outline: none;
  border-radius: 10px;
  background-color: beige;
}
